<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases> 
        <typeAlias alias="User" type="net.emis.demo.model.User"/>
        <typeAlias alias="Dictionary" type="net.emis.define.model.Dictionary"/>
        <typeAlias alias="DictionaryContent" type="net.emis.define.model.DictionaryContent"/>
        <typeAlias alias="BaseTableDefine" type="net.emis.define.model.BaseTableDefine"/>
        <typeAlias alias="BaseFieldDefine" type="net.emis.define.model.BaseFieldDefine"/>
    </typeAliases>
</configuration>